{% set childrenCnt = folder.children|length %}
{% set mediaCnt = folder.media|length %}
<div
    class="col"
    id="folder-{{ folder.id }}"
    data-controller="drop-target"
    data-drop-target-id-value="{{ folder.id }}"
    data-drop-target-move-url-value="{{ admin_path('admin_media_move_file_to_folder') }}"
    data-action="dragover->drop-target#over dragleave->drop-target#leave drop->drop-target#drop"
>
    <a
        class="card card-link"
        href="{{ admin_path('admin_media_list', {id: folder.id}) }}"
        data-drop-target-target="folderCard"
    >
        <div
            class="card-body"
            data-drop-target-target="folderCard"
        >
            <div class="d-flex align-items-center gap-2 mb-2">
                <twig:Xutim:Admin:Icon name="folder" />
                <div class="flex-fill text-truncate fw-medium" title="{{ folder.name }}">
                    {{ folder.name }}
                </div>
            </div>
            <div class="text-secondary small">
                {{ childrenCnt|default(0) }}
                {{ 'folders'|trans({}, 'admin') }},
                {{ mediaCnt|default(0) }}
                {{ 'files'|trans({}, 'admin') }}
            </div>
        </div>
    </a>
</div>
