{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% set title = 'New media file'|trans({}, 'admin') %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.file) }}
            {{ form_row(form.innerName) }}
            {{ form_row(form.copyright) }}

            <fieldset class="border rounded p-3 mt-3 mb-3">
                <legend class="float-none w-auto px-2 fs-5 fw-medium">{{ 'Translation'|trans({}, 'admin') }}</legend>
                {{ form_row(form.locale) }}
                {{ form_row(form.name) }}
                {{ form_row(form.alt) }}
            </fieldset>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="prepend" targets="#media-list">
        <template>
            <div
                class="col"
                id="media-{{ media.id }}"
            >
                <div class="card card-sm">
                    <div class="position-relative">
                        <a
                            href="{{ admin_path('admin_media_edit', {id: media.id}) }}"
                            class="d-block"
                        >
                            {% if media.isImage %}
                                <twig:XutimMedia:Admin:Picture
                                    :media="media"
                                    preset="thumb_small"
                                    alt=""
                                    class="card-img-top"
                                />
                            {% else %}
                                <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="height: 120px;">
                                    <twig:Xutim:Admin:Icon name="file" />
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body border-top">
                        <div class="d-flex align-items-center" title="{{ media.innerName }}">
                            {{ media.innerName }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </turbo-stream>
{% endblock %}
